@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

body {
  background-color: rgba(130, 220, 200, 0.5);
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

body .gem {
  z-index: 4;
  position: relative;
  padding: 1rem;
  height: 50vw;
  width: 50vw;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(3, 30%);
}

body .gem .grid_square {
  height: 100%;
}

body .gem .sq1A,
body .gem .sq1D {
  z-index: 1;
}

body .gem .sq1A {
  background: linear-gradient(-55deg, #a0dce6 0%, #a0dce6 49%, rgba(130, 200, 240, 0.5) 49%, rgba(130, 200, 240, 0.5) 51%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  transform: skewY(10deg);
}

body .gem .sq1B,
body .gem .sq1C {
  margin-top: 8%;
  border-top-color: rgba(130, 200, 240, 0.5);
  border-top-width: 2px;
  border-top-style: solid;
  z-index: 2;
}

body .gem .sq1B {
  background: linear-gradient(-45deg, #d9ffff 0%, #d9ffff 49%, #ebffff 49%, #ebffff 51%, #b4e6f0 51%, #b4e6f0 100%);
}

body .gem .sq1C {
  background: linear-gradient(45deg, #d9ffff 0%, #d9ffff 49%, #ebffff 49%, #ebffff 51%, #b4e6f0 51%, #b4e6f0 100%);
}

body .gem .sq1D {
  background: linear-gradient(55deg, #ebffff 0%, #ebffff 49%, #d9ffff 49%, #d9ffff 51%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  transform: skewY(-10deg);
}

body .gem .sq2A,
body .gem .sq2B,
body .gem .sq3A,
body .gem .sq3B {
  margin-top: -5%;
  grid-column-end: span 2;
  grid-row-end: span 1;
  z-index: 4;
}

body .gem .sq2A {
  background: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(130, 200, 240, 0.5) 35%, rgba(130, 200, 240, 0.5) 37%, #82c8dc 37%, #82c8dc 70%, #a0dce6 70%, #a0dce6 100%);
}

body .gem .sq2B {
  background: linear-gradient(-50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(130, 200, 240, 0.5) 35%, rgba(130, 200, 240, 0.5) 37%, #82c8dc 37%, #82c8dc 70%, #a0dce6 70%, #a0dce6 100%);
}

/*body .gem .sq3A {
  background: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 71%, rgba(130, 200, 240, 0.5) 71%, rgba(130, 200, 240, 0.5) 73%, #82c8dc 73%, #82c8dc 100%);
}
body .gem .sq3B {
  background: linear-gradient(-50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 71%, rgba(130, 200, 240, 0.5) 71%, rgba(130, 200, 240, 0.5) 73%, #82c8dc 73%, #82c8dc 100%);
}
body .gem .sq2A,
body .gem .sq2B {
  border-top: 2px #d9ffff solid;
}
body .glint {
  position: absolute;
  z-index: 10;
  height: 50vw;
  width: 50vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 25%);
  grid-gap: 0;
}
body .glint div {
  width: 100%;
  height: 100%;
  display: grid;
}
body .glint div:nth-of-type(1), body .glint div:nth-of-type(2) {
  grid-row-end: span 1;
  justify-content: center;
  align-content: end;
}
body .glint div:nth-of-type(3), body .glint div:nth-of-type(4) {
  place-content: center;
  grid-row-end: span 2;
}
body .glint div span {
  font-size: 2rem;
  opacity: 0;
  animation: glint 2500ms ease-out infinite alternate;
}
body .glint div #g1A {
  animation-delay: 500ms;
}
body .glint div #g1B {
  animation-delay: 900ms;
}
body .glint div #g2A {
  animation-delay: 1500ms;
}
body .glint div #g2B {
  animation-delay: 1800ms;
}

@keyframes glint {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
